<ng-template #template>
  <div class="modal-header" class="col mt-5 pt-0 px-3">

    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>

    <h4 class="modal-title pull-left">{{modalHeader}}</h4>
  </div>
  <div class="modal-body">
    <p>{{modalMessage}}</p>
  </div>
</ng-template>


<div class="container-fluid m-0 p-0">

<!--1-->
  <div class="row min-vh-100 m-0 p-0">
    <div class="col-12 m-0 p-0 grp-1">
      <div class="row">
        <div class="col-sm-12 col-md-10 mx-auto mb-3">
          <div class="d-flex flex-row justify-content-start align-items-center mt-3">
           
            <img src="./assets/images/logo.png" class="logo">            
            <a class="menu-item text-uppercase"> Find A Furr Friend</a>
            <a class="menu-item text-uppercase"> Adopt a Guide</a>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-10 mx-auto mt-3">
          <h1 class="panel1 text-uppercase">Last Chance <br /> To Adopt!</h1>
        </div>
        <div class="col-10 mx-auto mt-2">
          <p class="time">
            <app-timer></app-timer> left
          </p>

          <button class="btn btn-primary text-uppercase" (click)="scrollTo('makeAppointment')">Make an Appointment
            now</button>
        </div>
      </div> 
    </div>
  </div>
<!--/1-->

<!--2-->
<div class="row d-flex flex-row justify-content-center min-vh-100 m-0 p-0">
  <div class="col-10">
    <h1 class="font-orange1 text-center mt-5 mb-5">Only Hereos - Adopt</h1>
    <p class="text-center sub-text"><strong> Not all heros wear capes!</strong> Saving the world is not a job that is
      only <br />
      exclusive to comic heroes in new york city.. <br />
      Now, you can do your part with one paw at a time.
    </p>
  </div>
  <div class="col-10 mx-auto justify-content-center align-items-center mb-3">
    <div class="d-flex flex-column flex-md-row justify-content-center align-items-center">
      <div class="d-flex flex-column align-items-center">
        <img class="animal-img mb-4" src="./assets/images/graphic_01.png">
        <div class="text-center">
          <h6 class="text-uppercase mb-3">True Companionship</h6>
          <p>Opening your doors to your now<br />
            furry friend brings a wholesome<br />
            new meaning to friendship</p>
        </div>
      </div>
      <div class="d-flex flex-column justify-content-center align-items-start">
        <img class="animal-img mb-4" src="./assets/images/graphic_02.png">
        <div class="text-center">
          <h6 class="text-uppercase mb-3">Fullfilling Role</h6>
          <p>The major side effect of being<br />
            there for your furry friend is feeling<br />
            very rewarded when they purr!</p>
        </div>
      </div>
      <div class="d-flex flex-column justify-content-center align-items-start">
        <img class="animal-img mb-4" src="./assets/images/graphic_03.png">
        <div class="text-center">
          <h6 class="text-uppercase mb-3">Loving Community</h6>
          <p>You will be part of a huge and<br />
            growing opportunity of adopters<br />
            worldwide, to share your<br />
            experiences</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--2-->


<!--3-->
<div class="row min-vh-100 m-0 p-0">
  <div class="col-12 m-0 p-0 grp-3">
    <div class="row m-0 p-0">
      <div class="col-8 mx-auto m-0">
        <div class="col-12 d-flex flex-row justify-content-start mt-5">
          <h1 class="font-black"> Hall of Meows.</h1>
        </div>
        <div class="col-12 d-flex flex-row justify-content-start 2 mt-5">
          <h4 class="font-dark-blue2 font-bold">Featured felines of the week!</h4>
        </div>

        <div class="gallery-group">
          <div class="d-flex flex-row">
            <img class="gallery-img" src="./assets/images/gallery_01.png">
            <img class="gallery-img" src="./assets/images/gallery_02.png">
            <img class="gallery-img" src="./assets/images/gallery_03.png">
          </div>
          <div class="d-flex flex-row">
            <img class="gallery-img" src="./assets/images/gallery_04.png">
            <img class="gallery-img" src="./assets/images/gallery_05.png">
            <img class="gallery-img" src="./assets/images/gallery_06.png">
          </div>
        </div>

        <div class="col-12">
          <button class="btn btn-primary mt-5 mb-5 text-uppercase">Browse More</button>
        </div>

      </div>

    </div>
  </div>
</div>
<!--/3-->


 <!--4-->
 <div id="adopting101" class="row min-vh-100 m-0 p-0">
  <div class="col-12 m-0 p-0 grp-4">
    <div class="row">
      <div class="col-9 offset-3">
        <div class="row m-0 p-0 adopting-panel">
          <div class="col-sm-9 col-md-9 col-offset-sm-2 col-offset-md-2 pt-5 pr-5">
            <h1>Adopting 101</h1>
            <p class="adopt-blurb"> <span class="font-weight-bold"> Class is in session! </span>Here's a basic guide
              of what you would probably want to have
              along with you at our adoption center:</p>
            <ul class="adopt-list">
              <li><i class="fa fa-check-circle font-dark-blue mr-2" aria-hidden="true"></i><span
                  class="text-uppercase font-weight-bold"> An Open Mind</span> <span class="sub p-3"> Not all furry
                  creatures are
                  alike!</span></li>
              <li><i class="fa fa-check-circle font-dark-blue mr-2" aria-hidden="true"></i><span
                  class="text-uppercase font-weight-bold"> Comfortable Shoes</span> <span class="sub p-3"> You'll be
                  on your feet all
                  day</span> </li>
              <li><i class="fa fa-check-circle font-dark-blue mr-2" aria-hidden="true"></i><span
                  class="text-uppercase font-weight-bold"> Mobile Phone</span><span class="sub p-3"> Take pictures of
                  your potential
                  furry, companion, of course!</span></li>
            </ul>

            <button class="btn btn-primary mt-5 mb-5 text-uppercase">Let's Adopt</button>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
 <!--/4-->

 <!--5-->
  <!--5-->
  <div id="makeAppointment" class="row min-vh-10 m-0 p-0 bg-dark-blue-2">
    <div class="col-12 mx-auto m-0 p-0 grp-5">
      <div class="row m-0 p-0">
        <div class="col-8 mx-auto m-0 mt-5 p-0">
          <div class="row m-0 p-0">
            <div class="col-12 m-2">
              <h1 class="mb-3 font-fjalla">Make an Appointment</h1>
              <h3 class="color-light-orange mt-2"><strong>Time is gold! </strong>Make an appointment to prevent
                disappointment</h3>
            </div>

            <div class="col-12">

              <div class="col-12 m-0 p-0">

                <div class="row w-100 m-0 p-0 py-3">
                  <div class="col-sm-12 col-md-4 p-2">
                    <input type="text" placeholder="Date" class="form-control w-100"
                      [bsConfig]="{ adaptivePosition: true, containerClass: 'theme-orange',  dateInputFormat: 'YYYY-MM-DD' }"
                      [(ngModel)]="selectedDate" bsDatepicker #dateTime>
                  </div>
                  <div class="col-sm-12 col-md-4 p-2">
                    <div dropdown>
                      <button dropdownToggle type="button" class="btn btn-drop w-100 h-100 dropdown-toggle"
                        aria-controls="dropdown-basic">
                        State {{selectedState}} <span class="caret"></span>
                      </button>


                      <ul id="dropdown-basic" class="dropdown-menu" *dropdownMenu class="dropdown-menu" role="menu"
                        aria-labelledby="button-basic">
                        <ng-container *ngFor="let s of stateBranch">

                          <li role="menuitem"><a class="dropdown-item" (click)="selectState(s.state)">
                              State {{s.state}}
                            </a></li>
                        </ng-container>


                      </ul>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-4 p-2">
                    <div dropdown>
                      <button dropdownToggle type="button" class="btn btn-drop w-100 h-100 dropdown-toggle"
                        aria-controls="dropdown-basic">
                        Branch {{ selectedBranch}} <span class="caret"></span>
                      </button>


                      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                        aria-labelledby="button-basic">
                        <ng-container *ngFor="let branch of getBranches()">
                          <ng-container *ngFor="let b of branch">
                            <li role="menuitem"><a class="dropdown-item" (click)="setSelectedBranch(b)">
                                Branch {{b}}
                              </a></li>

                          </ng-container>

                        </ng-container>



                      </ul>
                    </div>
                  </div>

                </div>
                <div class="row">
                  <button class="btn btn-primary ml-4 mt-5 text-uppercase mb-5" (click)="getAppointment($event, template )">Submit</button>
                </div>

              </div>
            </div>




          </div>
        </div>
      </div>
    </div>
  </div>
 <!--/5-->

 <!--6-->
 <div class="row bg-dark-blue-3 m-0 p-0">
  <div class="col-10 mx-auto">
    <div class="row mt-5">

      <div class="col-sm-12 col-md-6">
        <h1>Extra hands?</h1>
        <h4 class="color-light-orange text-bold">YES please! Be a volunteer today:</h4>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="input-group w-80 h-25 d-flex mt-4 pr-3">
          <input type="text" class="form-control mr-2 emailInput" placeholder="youremail@address.com"
            aria-label="Recipient's email address">
          <div class="input-group-append">
            <span class="btn input-group-text text-uppercase font-weight-bold email-btn">I want to help</span>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <hr class="bg-dark-blue-1 w-100 mt-5 mb-2" />

    </div>
    <div class="row">
      <div class="d-flex justify-content-between align-content-center mb-5 py-4 w-100">
        <span class="dark-blue-1"> @2019 The Catastrophe</span>
        <ul class="footer-list">
          <li> FAQ</li>
          <li> Privacy Policy</li>
          <li> legal notices</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!--/6-->
</div>